<?xml version="1.0"?>
<launch>
    <!-- <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu2quaternion" output="screen"/> -->
    <!-- <node pkg="topic_tools" type="relay" name="map_camera_imu" args="/Main/imu /imu/data_raw"/> -->
    <node pkg="pixhawk_imu_to_eular" type="vector_broadcaster" name="pixhawk_imu_to_eular" output="screen"/>
</launch>